/*
 * @Description: 12栅格系统，无注释版本
 * @Author: YoungWind
 * @Date: 2020-10-25 12:36:23
 * @LastEditTime: 2020-10-25 13:00:23
 * @LastEditors: YoungWind
 * @FilePath: \Covid2019Visualization\css\grid.css
 */
.container {
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.col-1 {
	flex-basis: 8.3333333%;
	max-width: 8.3333333%;
}

.col-2 {
	flex-basis: 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	flex-basis: 25%;
	max-width: 25%;
}

.col-4 {
	flex-basis: 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	flex-basis: 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.col-7 {
	flex-basis: 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	flex-basis: 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	flex-basis: 75%;
	max-width: 75%;
}

.col-10 {
	flex-basis: 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	flex-basis: 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
	position: relative;
}
